:root {
    --hue: 0;
    --saturation: 1%;
    --clr-piano-bg: hsl(var(--hue), var(--saturation), 68%);
    --clr-keys-white: rgb(255, 255, 255);
    --clr-keys-black: rgb(0, 0, 0);
    --bxs-bottom-right: 8px 8px 12px 0 hsla(var(--hue), var(--saturation), 0%, 0.25);
    --bxs-top-left: -8px -8px 12px 0 hsla(var(--hue), var(--saturation), 100%, 0.3);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: var(--clr-piano-bg);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.piano {
    width: 80%;
    max-width: 900px;
    height: 80%;
    border-radius: .8em;
    padding: 1.5em 2em;
    box-shadow: var(--bxs-top-left), var(--bxs-bottom-right);
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    border-radius: .5em .5em 0 0;
}

.piano_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    letter-spacing: .3em;
    height: 100%;
    width: 50%;
    border-radius: .5em .5em 0 0;
    box-shadow: inset var(--bxs-top-left), inset var(--bxs-bottom-right);
}

.piano_screen p {
    text-shadow: 1px 1px 1px rgb(224, 224, 224), -1px -1px 1px rgb(0, 0, 0);
    color: var(--clr-piano-bg)
}

.octave_panel {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

.octave_panel::before {
    content: "CHANGE OCTAVE";
    font-size: clamp(.5rem, .5vw + .5rem, 2rem);
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    width: 100%;
    top: -40%;
    padding: .5em;
    border-radius: 2rem;
    box-shadow: inset var(--bxs-top-left), inset var(--bxs-bottom-right);
}

.octave_number {
    border-radius: 2rem;
    font-size: 7vmin;
    padding: .5em;
    box-shadow: inset var(--bxs-top-left), inset var(--bxs-bottom-right);
}

.change_octave {
    background: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: var(--bxs-top-left), var(--bxs-bottom-right);
    transition: all .3s ease;
}

.change_octave[disabled] {
    box-shadow: inset var(--bxs-top-left), inset var(--bxs-bottom-right);
}

.change_octave:hover {
    cursor: pointer;
    --bxs-bottom-right: 4px 4px 12px 0 hsla(var(--hue), var(--saturation), 0%, 0.25);
    --bxs-top-left: -4px -4px 12px 0 hsla(var(--hue), var(--saturation), 100%, 0.3);
}

.up::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
    font-weight: 900;
    font-size: 1.5rem;
}

.down::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    font-weight: 900;
    font-size: 1.5rem;
}

.down[disabled] {
    box-shadow: inset var(--bxs-top-left), inset var(--bxs-bottom-right);
}

.keys {
    position: relative;
    height: 65%;
    width: 100%;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: .3em;
}

.key {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

/* .key::before {
    content: attr(data-note);
    position: absolute;
    top: 20%;
    font-size: 2.5vmin;
    padding: .2rem;
    border-radius: 1rem;
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.541), inset -1px -1px 2px rgba(0, 0, 0, 0.432);
} */

.white {
    font-size: 1.2rem;
    background-color: var(--clr-keys-white);
    color: var(--clr-keys-black);
    box-shadow: 0px 0px 5px inset hsl(0, 0%, 70%), -6px -15px 8px inset hsl(0, 0%, 30%);
    transition: all .1s ease;
}

.white:last-child {
    box-shadow: 0px 0px 5px inset hsl(0, 0%, 70%), 0px -13px 8px inset hsl(0, 0%, 30%);
    border-bottom-right-radius: .5em;
}

.white:first-child {
    border-bottom-left-radius: .5em;
}

.white.press {
    box-shadow: -2px -2px 8px inset hsl(0, 0%, 10%);
}

.black {
    font-size: 1rem;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 8%;
    height: 55%;
    background-color: hsl(0, 0%, 20%);
    color: var(--clr-keys-white);
    box-shadow: inset -5px -10px 2px var(--clr-keys-black), 5px 0px 2px inset var(--clr-keys-black);
    transition: all .1s ease;
}

.black.press {
    box-shadow: inset -5px -5px 2px var(--clr-keys-black), 5px 0px 2px inset hsl(0, 0%, 10%);
}

.c_sharp {
    left: 8%;
}

.d_sharp {
    left: 21%;
}

.f_sharp {
    right: 45%
}

.g_sharp {
    right: 33%;
}

.a_sharp {
    right: 20%;
}

.key_control {
    /* --bxs-bottom-right: 2px 2px 5px 0 hsla(var(--hue), var(--saturation), 0%, 0.25);
    --bxs-top-left: -2px -2px 5px 0 hsla(var(--hue), var(--saturation), 100%, 0.3); */
    font-weight: 700;
    border-radius: 50%;
    margin-bottom: 30%;
    padding: .5em;
    box-shadow: var(--bxs-top-left), var(--bxs-bottom-right);
}

@media screen and (max-width: 412px) {
    body {
        padding: 1rem 0;
    }
    .piano {
        transform: rotate(90deg);
        height: 45%;
        width: 150%;
        max-width: 846px;
    }
}

@media screen and (max-width: 375px) {
    .piano {
        height: 60%;
        width: 120%;
    }
}